/* !---------- Global Styles ---------- */

:root {
	font-size: 16px;
	font-family: 'JetBrains Mono', monospace;
	--text-primary: #ffffff;
	--text-secondary: #ececec;
	--bg-primary: #343434;
	--bg-secondary: #242424;
	--board-dark: #779954;
	--board-light: #d7deb0;
	--transition-speed: 600ms;
}

body {
	color: var(--text-secondary);
	background-color: var(--bg-secondary);
	margin: 0;
	padding: 0;
}

main {
	height: 100vh;
	margin-left: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* !---------- Theme Styles ---------- */

.dark {
	--text-primary: #ffffff;
	--text-secondary: #ececec;
	--bg-primary: #343434;
	--bg-secondary: #242424;
	--board-dark: #779954;
	--board-light: #e9eecc;
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
	--board-dark: #b68863;
	--board-light: #f0d9b5;
}

.magic {
	--text-primary: #ffffff;
	--text-secondary: #ffd700;
	--bg-primary: #1f1a33;
	--bg-secondary: #291c4b;
	--board-dark: #5a4c7a;
	--board-light: #d1bfff;
}

.ocean {
	--text-primary: #ffffff;
	--text-secondary: #d3e0ea;
	--bg-primary: #2e3b44;
	--bg-secondary: #1f2930;
	--board-dark: #5497a7;
	--board-light: #a4c9d2;
}

.wood {
	--text-primary: #ffffff;
	--text-secondary: #d7c3a5;
	--bg-primary: #b0846a;
	--bg-secondary: #7a4e38;
	--board-dark: #bead92;
	--board-light: #e5d3b8;
}

.theme-icon {
	display: none;
}

.light #lightIcon,
.dark #darkIcon,
.magic #magicIcon,
.ocean #oceanIcon,
.wood #woodIcon,
.desert #desertIcon {
	display: block;
}

/* !---------- Media Queries ---------- */

/* Small screens */
@media only screen and (max-width: 790px) {
	main {
		flex-direction: column;
		margin-left: 0;
		margin-bottom: 5rem;
	}
}
