/* !---------- Global Styles ---------- */

:root {
	font-size: 16px;
	font-family: 'JetBrains Mono', monospace;
	--text-primary: #ffffff;
	--text-secondary: #ececec;
	--bg-primary: #343434;
	--bg-secondary: #242424;
	--board-dark: #779954;
	--board-light: #d7deb0;
	--transition-speed: 600ms;
}

body {
	color: var(--text-secondary);
	background-color: var(--bg-secondary);
	margin: 0;
	padding: 0;
}

main {
	height: 100vh;
	margin-left: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* !---------- Theme Styles ---------- */

.dark {
	--text-primary: #ffffff;
	--text-secondary: #ececec;
	--bg-primary: #343434;
	--bg-secondary: #242424;
	--board-dark: #779954;
	--board-light: #e9eecc;
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
	--board-dark: #b68863;
	--board-light: #f0d9b5;
}

.earth {
	--text-primary: #2c3e50;
	--text-secondary: #1a242f;
	--bg-primary: #d0f0c0;
	--bg-secondary: #a9d9a5;
	--board-dark: #4a773c;
	--board-light: #8abf8b;
}

.fire {
	--text-primary: #4d0000;
	--text-secondary: #2e0000;
	--bg-primary: #ffcccc;
	--bg-secondary: #ff9999;
	--board-dark: #cc0000;
	--board-light: #ff6666;
}

.water {
	--text-primary: #003366;
	--text-secondary: #002244;
	--bg-primary: #cceeff;
	--bg-secondary: #99ccff;
	--board-dark: #006699;
	--board-light: #66b3ff;
}

.air {
	--text-primary: #2c3e50;
	--text-secondary: #1a242f;
	--bg-primary: #f0f4f8;
	--bg-secondary: #e1e8ee;
	--board-dark: #b0bec5;
	--board-light: #cfd8dc;
}

.theme-icon {
	display: none;
}

.light #lightIcon,
.dark #darkIcon,
.earth #earthIcon,
.fire #fireIcon,
.water #waterIcon,
.air #airIcon {
	display: block;
}

/* !---------- Media Queries ---------- */

/* Small screens */
@media only screen and (max-width: 790px) {
	main {
		flex-direction: column;
		margin-left: 0;
		margin-bottom: 5rem;
	}
}
